body {
  margin: 0;
  font-family: sans-serif;

  background-image: url("https://images.unsplash.com/photo-1446776811953-b23d57bd21aa?q=80&w=2000");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

